.card-header{
    text-align:center;
    margin-bottom:25px;
}

.card-header h2{
    margin:0;
    color:#1565c0;
    font-size:24px;
}
.card label{
    text-align:center;
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:600;
}
.subtitle{
    text-align:center;
    font-size:22px;
    font-weight:600;
    color:#555;
    margin-bottom:25px;
}
input,
select,
.select-btn{
    width:50%;
    padding:12px;
    border:1px solid #cfd8dc;
    border-radius:10px;
    box-sizing:border-box;
    font-size:16px;
    background:#fff;
}
.radio-group{
    display:flex;
    gap:30px;
    align-items:center;
}
.multi-select{
    position:relative;
    margin-bottom:20px;
}

.select-btn{
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

.dropdown{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background:#fff;
    border:1px solid #cfd8dc;
    border-radius:10px;
    margin-top:6px;
    max-height:260px;
    overflow-y:auto;
    display:none;
    z-index:1000;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

.dropdown label{
    display:block;
    align-items:center;
    gap:10px;
    padding:10px 15px;
    margin:0;
    font-weight:400;
}

.dropdown label:hover{
    background:#f5f5f5;
}
